#project-wrapper{
    background-color: $black-1;
    &.not-found-wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
        h1{
            margin-top: 50px;
            color: $yellow;
            @media screen and (min-width: 680px){
                font-size: 50px;
            }
            @media screen and (min-width: 680px){
                font-size: 40px;
            }
        }
        img{
            width: 100%;
            height: 50vh;
        }
    }
}
.project-banner{
    height: 50vh;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.55);
    background-position: 50% 50%;
    background-size: cover;
    .project-banner-fade{
        height: 100%;
        width: 100%;
        background: linear-gradient(180deg, rgba(111,111,111,0.1964986678265056) 34%, rgba(32,32,32,0.7063025893951331) 65%, rgba(20,20,20,1) 97%);
    }
}
.project-wrapper-wrapper{
    padding: 20px 0;
    margin: auto;
    @media screen and (min-width: 1250px){
        width: 1200px;
    }
    @media screen and (max-width: 1250px){
        width: 90%;
    }
    .header-wrapper{
        @media screen and (min-width: 800px){
            display: none !important;
        }
        @media screen and (max-width: 550px){
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            .project-header{
                margin: 0;
                color: $white;
                font-size: 40px;
            }
            .header-logo{
                position: absolute;
                top: 80px;
            }
        }
    }
    #project-description{
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
        @media screen and (min-width: 900px){
            flex-direction: row;
            .project-description-1{
                width: calc(100% - 400px);
                .description-header-mobile{
                    display: none;
                }
            }
            .project-description-2{
                display: flex;
                flex-direction: column;
                align-items: center;
                .project-link-wrapper{
                    width: 350px;
                }
            }
        }
        @media screen and (max-width: 900px){
            flex-direction: column;
            .project-description-1{
                width: 100%;
                .client-titel{
                    display: none;
                }
            }
            .project-description-2{
                padding-top: 20px;
                display: flex;
                flex-direction: column;
                align-items: center;
                overflow-x: hidden;
                .project-link-wrapper{
                    width: calc(100% - 28px)!important;
                }
            }
        }
        .project-description-1{
            .client-titel{
                margin-top: 0;
                margin-bottom: 10px;
                font-family: 'Inter', 'sans-serif';
            }
            .description-header-mobile{
                margin-top: 0;
            }
            .project-section{
                h3{
                    font-size: 24px;
                    margin-top: 0;
                    margin-bottom: 12px;
                }
                p{
                    margin-top: 0;
                    color: hsla(0,0%,100%,.7);
                    font-size: 18px;
                    line-height: 24px;
                }
                ul{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    list-style-type: none;
                    padding: 0;
                    li{
                        margin-right: 10px;
                        img{
                            width: 40px;
                            height: 40px;
                        }
                    }
                }
            }
            .project-section-line{
                height: 1px;
                margin: 20px 0;
                border-top: 1px solid hsla(0,0%,100%,.1);
            }
            .last-edited{
                h3{
                    margin-top: 0;
                    margin-bottom: 12px;
                    font-size: 24px;
                }
                p{
                    margin-top: 0;
                    color: $white-1;
                    font-size: 18px;
                }
            }
        }
        .project-description-2{
            .client-logo{
                max-width: 150px;
            }
            .project-link-wrapper{
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                padding: 14px;
                text-align: center;
                .link-wrapper{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    padding: 20px 0;
                    flex-wrap: wrap;
                    span{
                        font-weight: bold;
                        font-size: 18px;
                    }
                    a{
                        max-width: 60%;
                    }
                    &:nth-child(1){
                        border-top: 1px solid $white-3;
                    }
                    &:nth-last-child(1){
                        border-bottom: 1px solid $white-3;
                    }
                    &:not(:nth-child(1)){
                        border-top: 1px solid $white-3;
                    }
                }
                h2{
                    margin: 0;
                }
            }
        }
    }
    #gallery{
        display: flex;
        box-sizing: border-box;
        padding: 20px 0;
        @media screen and (min-width: 800px){
            flex-direction: row;
            figure{
                width: 60%;
                margin: 0;
                height: 520px;
            }
            .photo-col{
                position: relative;
                width: 40%;
                align-items: flex-end;
                height: 520px;
                figure{
                    width: 95%;
                    height: calc(500px / 2);
                    margin: 0;
                    &:nth-last-child(1){
                        margin-bottom: 0;
                    }
                    &:nth-child(n+3){
                        display: none;
                    }
                }
                .all-photos{
                    position: absolute;
                    right: 20px;
                    bottom: 10px;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    color: $black;
                    background-color: $white;
                    padding: 10px 12px;
                    border-radius: 6px;
                    border: 1px solid #d4d4d4;
                    transition: background-color 400ms ease;
                    &:hover{
                        cursor: pointer;
                        background-color: #d4d4d4;
                    }
                    svg{
                        margin-right: 10px;
                    }
                    p{
                        margin: 0;
                        font-size: 16px;
                        font-weight: 600;
                    }
                }
            }
        }
        @media screen and (max-width: 800px){
            flex-direction: column;
            figure{
                width: 100%;
                margin: 0 0 20px 0;
                height: 450px;
            }
            .photo-col{
                width: 100%;
                align-items: center;
                .figure{
                    width: 100%;
                    height: 450px;
                    margin-bottom: 20px;
                }
                .no-image{
                    display: none;
                }
                #all-photos{
                    display: none;
                }
            }
        }
        figure{
            position: relative;
            border-radius: 10px;
            background-color: $black-4;
            &:not(.no-image){
                img{
                    width: 100%;
                    height: 100%;
                    border-radius: 10px;
                    object-fit: cover;
                    cursor: pointer;
                }
            }
            &.no-image{
                background-color: #1d1d1d;
                img{
                    width: 100%;
                    height: 100%;
                    border-radius: 10px;
                    object-fit: contain;
                }
            }
        }
        .photo-col{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            figure{
                position: relative;
                border-radius: 10px;
                &:not(.no-image){
                    img{
                        object-fit: cover;
                    }
                }
                &.no-image{
                    background-color: #1d1d1d;
                    img{
                        object-fit: contain;
                    }
                }
                img{
                    width: 100%;
                    height: 100%;
                    border-radius: 10px;
                    cursor: pointer;
                }
            }
        }
    }
}

.figure-wrapper{
    @media screen and (min-width: 900px){
        width: calc(95% - 40px);
        top: 2.5%;
        left: 2.5%;
    }
    @media screen and (max-width: 900px){
        width: calc(100% - 40px);
        top: 0;
        left: 0;
    }
    position: absolute;
    display: none;
    flex-direction: column;
    z-index: 100;
    max-height: 0;
    background-color: $black-4;
    transition: max-height 600ms ease;
    padding: 0px;
    border-radius: 10px;
    border: 1px solid $white-3;
    &.focus{
        max-height: calc(95vh - 40px);
        height: calc(95vh - 40px);
        padding: 20px;
    }
    a{
        position: absolute;
        top: 2%;
        right: 2%;
        &:hover{
            cursor: pointer;
            svg{
                fill: $yellow;
            }
        }
    }
    .image-viewer{
        width: 90%;
        height: 90%;
        overflow-y: scroll;
        scroll-snap-type: y mandatory;
        figure{
            scroll-snap-align: center;
            display: flex;
            align-items: flex-start;
            justify-content: center;
            width: 100%;
            height: 100%;
            margin: 0;
            img{
                overflow-y: initial;
                width: auto;
                height: 100%;
                object-fit: contain;
            }
            &[data-zoom="false"]{
                img{
                    width: auto;
                    height: 100%;
                }
                &:hover{
                    cursor: zoom-in;
                }
            }
            &[data-zoom="true"]{
                overflow-y: scroll;
                img{
                    width: 80%;
                    min-height: 100%;
                    height: auto;
                }
                &:hover{
                    cursor: zoom-out;
                }
            }
        }
    }
}