.chat-navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    border-bottom: 1px solid $white-3;
    padding: 0 20px;
    .desktop-logo{
        img{
            height: 30px;
        }
    }
    .user-wrapper{
        display: flex;
        flex-direction: row;
        align-items: center;
        width: auto;
        height: 90%;
        padding: 0 10px;
        border-radius: 6px;
        &:hover{
            cursor: pointer;
            background-color: $black-3;
        }
        figure{
            height: 40px;
            width: 40px;
            overflow: hidden;
            margin: 0;
            border-radius: 50%;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        span{
            margin-left: 10px;
            font-size: 18px;
            font-weight: 600;
        }
    }
    .navbarPopup{
        position: absolute;
        z-index: 50;
        width: 200px;
        border: 1px solid $white-3;
        background-color: $black-4;
        border-radius: 6px;
        ul{
            list-style-type: none;
            padding: 6px;
            margin: 0;
            height: calc(100% - 12px);
            li{
                display: flex;
                justify-content: flex-start;
                padding: 8px;
                border-radius: 6px;
                font-size: 18px;
                font-weight: 600;
                i{
                    margin-right: 10px;
                }
                &:hover{
                    cursor: pointer;
                    background-color: $black-2;
                }
            }
        }
    }
}