.chat-top{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 80px !important;
    border-bottom: 1px solid $white-3;
    &[data-label="user-search"]{
        flex-direction: column;
        justify-content: end;
    }
    .new-message-top{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-left: 16px;
        width: calc(100% - 16px);
        height: 50px;
        .input-search-suggest{
            display: flex;
            flex-direction: row;
            align-items: center;
            width: 80%;
            margin-left: 10px;
            input{
                max-width: 100%;
                height: 30px;
                border-radius: 6px;
                min-width: 200px;
                color: #fff;
                border: 1px solid transparent;
                background-color: transparent;
                &:focus{
                    outline: none;
                }
            }
            .tag-box{
                padding: 6px;
                margin: 0 6px 0 0;
                &:hover{
                    border: 1px solid $white-2;
                }
                span{
                    margin-left: 4px;
                    font-weight: bold;
                    &:hover{
                        cursor: pointer;
                    }
                }
            }
        }
    }
    .message-top{
        display: flex;
        flex-direction: row;
        align-items: center;
        .group-figure{
            width: 45px;
            height: 45px;
            overflow: hidden;
            margin-bottom: 6px;
            margin: 0 0 0 10px;
            position: relative;
            figure{
                width: 30px;
                height: 30px;
                border-radius: 50%;
                margin: 0;
                overflow: hidden;
                position: absolute;
                img{
                    object-fit: cover;
                    width: 100%;
                    height: 100%;
                }
                &:nth-child(1){
                    top: 0;
                    right: 0;
                }
                &:nth-last-child(1){
                    bottom: 0;
                    left: 0;
                    border: 2px solid $black-1;
                }
            }
        }
        figure{
            height: 40px;
            width: 40px;
            overflow: hidden;
            margin: 0 0 0 10px;
            border-radius: 50%;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        span{
            margin-left: 14px;
            font-weight: bold;
            font-size: 18px;
        }
        .mock{
            background-color: hsla(0deg, 0%, 100%, 0.1);
            overflow: hidden;
            &:nth-child(1){
                margin-left: 10px;
                width: 40px;
                height: 40px;
                border-radius: 50%;
            }
            &:nth-last-child(1){
                height: 30px;
                width: 200px;
                border-radius: 6px;
                margin-left: 10px;
            }
        }
    }
    .search-result-window{
        position: absolute;
        z-index: 50;
        left: 40px;
        top: 82px;
        display: flex;
        flex-direction: column;
        background-color: $black-3;
        padding: 10px 20px;
        width: 200px;
        min-height: 300px;
        border: 1px solid $white-3;
        border-radius: 6px;
        overflow-y: auto;
        max-height: 50vh;
        .search-result{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            margin: 2px 0;
            padding: 10px;
            width: calc(100% - 20px);
            border-radius: 6px;
            &:hover{
                cursor: pointer;
                background-color: $black-2;
            }
            figure{
                width: 34px;
                height: 34px;
                overflow: hidden;
                margin: 0;
                border-radius: 50%;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            span{
                font-weight: 600;
            }
        }
        .user-search-mock{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            margin: 10px 0;
            .mock-profile{
                width: 40px;
                height: 40px;
                background-color: $black-2;
                border-radius: 50%;
                overflow: hidden;
            }
            .mock{
                background-color: $black-2;
                height: 40px;
                width: calc(100% - 50px);
                border-radius: 6px;
            }
        }

    }
    .conversation-options{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-right: 10px;
        div{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 36px;
            height: 36px;
            border-radius: 50%;
            margin: 0 6px;
            &:hover{
                background-color: #f4f4f441;
                cursor: pointer;
            }
        }
    }
}